.empty-card-container {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empty-card-container h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 3rem;
}
.empty-card-container button {
    padding: 0.4rem 1.4rem 0.4rem 1.4rem;
    font-size: 1.3rem;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    background-color: rgb(141, 141, 135);
    cursor: pointer;
}