* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', Calibri, sans-serif;
}

body {
  background-color: rgb(14, 11, 11);
  color: white;
}

.main-container {
  padding: 30px 20px;
  text-align: center;
}

.main-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: 900;
}
