.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation ul {
    display: flex;
    gap: 10px;
}

.navigation ul li {
    gap: 10px;
    list-style: none;
    cursor: pointer;
}