* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(12, 11, 11);
  color: #ffff;
  gap: 10px;
}