.header-container {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid red;
}
.logo img {
    height:132px ;
    width: 160px;
}
.navigation-menu {
    display: flex;
    gap: 20px;
}
.navigation-menu ul {
    display: flex;
    gap: 10px;
}
.navigation-menu ul li {
    list-style-type: none;
}
.navigation-menu ul li a{
    text-decoration: none;
}
.navigation-menu button {
    margin-left: 10px;
}