.counter-container{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    background-color: rgb(65, 65, 182);
}
.value{
    font-size: 1.5rem;
    padding: 0rem 0.3rem 0rem 0.3rem;
}
button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1.3rem;
    background-color: rgb(65, 65, 182);
    border-radius: 7px;
    border: none;
    cursor: pointer;
}